@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

h1 {
  font-family: "Roboto", sans-serif;
  color: #646464;
  font-size: 21px;
  padding-left: 12px;
}

h2 {
  font-family: "Roboto", sans-serif;
  color: #646464;
  font-size: 18px;
  padding-left: 12px;
}
